body {
  font-family: 'Bungee', cursive;
}


.mainContainer {
  width: 1100px;
  height: 677px;
  border: 2px solid black;
  float: left;
  display: inline-block;
  background: teal

}

.imageContainer {
  background-image: url('../image/6.31-1024x677.jpg');
  /*background-image: url('https://github.com/rpoindexter37/Concert-Security/blob/master/image/6.31-1024x677.jpg?raw=true');*/
  width: 50%;
  margin: 0 auto;
  width: 1024px;
  height: 600px;
}

.start {
  width: 30%;
  margin-left: 375px;
  margin-top: 50px;
  font-size: 50px;
}

h1 {
  text-align: center;
}

img {
  height: 650px;
  width: 1024px;
}

.ballContainer {
  height: 425px;
  width: 1024px;
  margin-top: 30px;
  /*border: 2px solid black;*/
  position: relative;
}

#timer {
  color: red;
  float: left;
}

.title {
  float: left;
}

#scoreboard {
  float: right;
}

.asideMuthaFucka {
  float: left;
  display: block;
  height: 677px;
  width: 150px;
  border: 1px solid black
}

.reset {
  width: 150px;
  height: 50px;
  font-size: 30px
}

.ball {
  border: 0px solid #000;
  overflow:hidden;
}

.ball img {
  width: 90%;
  height: auto;
}

#player1Score, #player2Score
{
  font-size: 27px
}
